.main-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.drop-down-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media all and (min-width: 1440px) {
  .main-about {
    gap: 38px;
  }

  .drop-down-container {
    padding: 0 108px;
    gap: 28px;
  }
}
