// global.scss
@import 'variables';
@import '../components/Header/style';
@import '../components/Footer/style';
@import '../components/Logo/style';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  letter-spacing: 0.05rem;
}
